li {
    margin-bottom: 16px;
    list-style-type: none;
}
h1 {
    display: flex;
    justify-content: center;
}
.works {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 16px;
}
a {
    padding: 4px 12px 4px 12px;
    text-decoration: none; 
    color: white;
    background-color: cornflowerblue;
    border-radius: 12px;
}
a:hover {
    outline:dotted gold 15px; 
}
ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 32px auto;
    max-width: 480px;
}
