body {
    font-family: 'Cera pro', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    margin-top: 130px;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: #FBFBFB;
}

.panel {
    display: flex;
	justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 24px;
}

.newsletter-panel.email {
    max-width: 350px;

}

.newsletter-panel.email h4 {
    margin-bottom: 3px;
    font-weight: 700;
    color: rgba(61, 61, 61, 1);
}

.newsletter-panel span {
    display: block;
    gap: 20px;
    font-weight: 400;
    font-size: 13px;
    color:rgba(114, 114, 114, 1);
}

.newsletter-panel h4 {
    font-weight: 700;
    color: rgba(61, 61, 61, 1);
}

.newsletter-panel p {
    font-weight: 400;
    font-size: 14px;
    color: rgba(114, 114, 114, 1);
    
}

.contact-section {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    padding: 32px 24px;
}

.contact-section > * {
    max-width: 240px;
    display: flex;
    align-items: center;
}

.contact-section a {
    text-decoration: none;
    color: rgba(61, 61, 61, 1);
}

.contact-section a.logo {
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    color: #329c47;
}

.contact-section img {
    display: block;
    margin-right: 8px;
}

.site-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 24px;
}

.user-resources ul {
    margin: 0;
    padding: 0;
}

.user-resources {
    border-radius: 4px;
    border: #52C368;
}

.user-resources li {
    list-style-type: none;
    margin-top: 11px;
    font-weight: 400;
    font-size: 14px;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgba(70, 163, 88, 0.6);
    height: 30px;
    width: 30px;
}

.stick {
    width: 2px;
    height: 187px;
    background-color: rgba(70, 163, 88, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

footer{
    display: flex;
    justify-content: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    margin-top: 25px;
    height: 40px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
}

.input-group input {
    padding: 12px;
    border: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    height: 100%;
    flex-grow: 1;
}

.input-group button {
    padding: 12px 24px;
    background-color: rgba(70, 163, 88, 1);
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border: 2px solid rgba(70, 163, 88, 1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.input-group button:hover {
    background-color: white;
    color: rgba(70, 163, 88, 1);
}

.input-group button:active {
    background-color: rgb(30, 78, 39);
    color: white;
}
