body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    font-family: 'Cera pro', sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: rgba(61, 61, 61, 1);
}


.registration {
    background-color: white;
    padding: 52px 100px 40px;
    width: 500px;
    position: relative;
}

.registration::after {
    content: "";
    background-color: rgba(70, 163, 88, 1);
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.links a{
    text-decoration: none;
    color: rgba(61, 61, 61, 1);
    font-weight: 500;
    font-size: 20px;
}

.links a:hover{
    color: rgba(70, 163, 88, 1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form button {
    background-color: rgba(70, 163, 88, 1);
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 16px 0;
}

.container input {
    padding: 12px 14px;
    border: 1px solid rgba(234, 234, 234, 1);
}

.container button {
    padding: 14px;
}

.title-with-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    gap: 6px;
}

.title-with-lines .line{
    background-color: rgba(234, 234, 234, 1);
    height: 1px;
    flex-grow: 1;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons button {
    padding: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 13px;
    color: rgba(114, 114, 114, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    background-color: white;
    border-radius: 5px;
}

.buttons button img{
    display: block;
    width: 20px;
    height: 20px;
}
